<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Game</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>

<body>
    <img class="background" src="../static/images/cosmos.jpg" alt="background">
    <main>
        <h1>Rocket Game</h1>
        <section class="rules">
            <h2>Zasady gry</h2>
            <div>
                <p>Ułóż puzle w odpowiedniej kolejności, tak żeby rakieta 
                    bezpiecznie wystartowała, a później wylądowała. Jeżeli to 
                    zadanie okazałoby się dla ciebie za trudne, skorzystaj z 
                    dostępnych podpowiedzi.</p>
                <img class="big-rocket" src="../static/images/rocket.png" alt="Big rocket photo">
            </div>
        </section>

        <section class="puzzle-zone">
            <h2>Twoje zadanie</h2>

            <div class="buttons-container">
                <div class="slot"><button class="b1 answer" draggable="true" data-type="void non parametric">Open oxidizer intake</button></div>
                <div class="slot"><button class="b2 answer" draggable="true" data-type="void non parametric">Register oxidizer level</button></div>
                <div class="slot">
                    <button class="b3 answer" draggable="true" data-type="bool parametric">
                        Wait till oxidizer level will be
                        <input type="number" id="numOxLevel" min="0" max="100">
                        %
                    </button>
                </div>
                <div class="slot"><button class="b4 answer" draggable="true" data-type="void non parametric">Close oxidizer intake</button></div>
                <div class="slot"><button class="b5 answer" draggable="true" data-type="void non parametric">Unregister oxidizer level</button></div>
                <div class="slot"><button class="b6 answer" draggable="true" data-type="void non parametric">Open fuel intake</button></div>
                <div class="slot"><button class="b7 answer" draggable="true" data-type="void non parametric">Register fuel level</button></div>
                <div class="slot">
                    <button class="b8 answer" draggable="true" data-type="bool parametric">
                        Wait till fuel level will be
                        <input type="number" id="numFuelLevel" min="0" max="100">
                        %
                    </button>
                </div>
                <div class="slot"><button class="b9 answer" draggable="true" data-type="void non parametric">Close fuel intake</button></div>
                <div class="slot"><button class="b10 answer" draggable="true" data-type="void non parametric">Unregister fuel level</button></div>
                <div class="slot"><button class="b11 answer" draggable="true" data-type="void non parametric">Register oxidizer pressure</button></div>
                <div class="slot"><button class="b12 answer" draggable="true" data-type="void non parametric">Open oxidizer heater</button></div>
                <div class="slot">
                    <button class="b13 answer" draggable="true" data-type="bool parametric">
                        Wait till the oxidizer pressure will be
                        <input type="number" id="numBars" min="0" max="100">
                        bars
                    </button>
                </div>
                <div class="slot"><button class="b14 answer" draggable="true" data-type="void non parametric">Close oxidizer heater</button></div>
                <div class="slot"><button class="b15 answer" draggable="true" data-type="void non parametric">Unregister oxidizer pressure</button>
                </div>
                <div class="slot"><button class="b16 answer" draggable="true" data-type="void non parametric">Open fuel main valve</button></div>
                <div class="slot"><button class="b17 answer" draggable="true" data-type="void non parametric">Open oxidizer main valve</button></div>
                <div class="slot"><button class="b18 answer" draggable="true" data-type="void non parametric">Open igniter</button></div>
                <div class="slot"><button class="b19 answer" draggable="true" data-type="bool non parametric">Wait till the rocket will reach apogeum</button></div>
                <div class="slot">
                    <button class="b20 answer" draggable="true" data-type="bool parametric">
                        Wait till the rocket will fall
                        <input type="number" id="fallMeters" min="0">
                        meters
                    </button>
                </div>

                <div class="slot"><button class="b21 answer" draggable="true" data-type="void non parametric">Close igniter</button></div>
                <div class="slot"><button class="b22 answer" draggable="true" data-type="void non parametric">Close oxidizer main valve</button></div>
                <div class="slot"><button class="b23 answer" draggable="true" data-type="void non parametric">Close fuel main valve</button></div>
                <div class="slot"><button class="b24 answer" draggable="true" data-type="void non parametric">Register angle</button></div>
                <div class="slot"><button class="b25 answer" draggable="true" data-type="void non parametric">Register altitude</button></div>
                <div class="slot"><button class="b26 answer" draggable="true" data-type="void non parametric">Open parachute</button></div>
                <div class="slot"><button class="b27 answer" draggable="true" data-type="void non parametric">Close parachute</button></div>
                <div class="slot"><button class="b28 answer" draggable="true" data-type="void non parametric">Unregister angle</button></div>
                <div class="slot"><button class="b29 answer" draggable="true" data-type="void non parametric">Unregister altitude</button></div>
                <div class="slot"><button class="b30 answer" draggable="true" data-type="bool non parametric">Wait till rocket will land</button></div>
                <div class="slot">
                    <button class="b31 answer" draggable="true" data-type="void parametric">
                        Sleep for 
                        <input type="number" id="sleeping" min="0">
                        seconds
                    </button>
                </div>
            </div>
            <h3>Ułóż kolejność:</h3>
            <div class="slots-container">
                <div class="valid-slot" data-slot="1"></div>
                <div class="valid-slot" data-slot="2"></div>
                <div class="valid-slot" data-slot="3"></div>
                <div class="valid-slot" data-slot="4"></div>
                <div class="valid-slot" data-slot="5"></div>
                <div class="valid-slot" data-slot="6"></div>
                <div class="valid-slot" data-slot="7"></div>
                <div class="valid-slot" data-slot="8"></div>
                <div class="valid-slot" data-slot="9"></div>
                <div class="valid-slot" data-slot="10"></div>

                <div class="valid-slot" data-slot="11"></div>
                <div class="valid-slot" data-slot="12"></div>
                <div class="valid-slot" data-slot="13"></div>
                <div class="valid-slot" data-slot="14"></div>
                <div class="valid-slot" data-slot="15"></div>
                <div class="valid-slot" data-slot="16"></div>
                <div class="valid-slot" data-slot="17"></div>
                <div class="valid-slot" data-slot="18"></div>
                <div class="valid-slot" data-slot="19"></div>
                <div class="valid-slot" data-slot="20"></div>

                <div class="valid-slot" data-slot="21"></div>
                <div class="valid-slot" data-slot="22"></div>
                <div class="valid-slot" data-slot="23"></div>
                <div class="valid-slot" data-slot="24"></div>
                <div class="valid-slot" data-slot="25"></div>
                <div class="valid-slot" data-slot="26"></div>
                <div class="valid-slot" data-slot="27"></div>
                <div class="valid-slot" data-slot="28"></div>
                <div class="valid-slot" data-slot="29"></div>
                <div class="valid-slot" data-slot="30"></div>
            </div>
        </section>
        <div class="hints-container buttons">
            <div class="hints">
                <p>Hint1</p>
                <p>Hint2</p>
                <p>Hint3</p>
                <p>Hint4</p>
                <button id="hint" class="hint-btn btn">Get hint</button>
            </div>
            <button id="check" class="check-btn btn">Sprawdź ułożenie</button>
            <button id="reset" class="reset-btn btn">Reset puzzles</button>
        </div>

        <div id="rocket-progress">
            <pre>============================================================</pre>
            <h1>State: Waiting...</h1>
            <h4>Sensors:</h4>
            <ul>
                <li>Fuel Level: 0.0%</li>
                <li>Oxidizer Level: 0.0%</li>
                <li>Oxidizer Pressure: 0.0 bar</li>
                <li>Altitude: 0.0 m</li>
                <li>Angle: 2.0°</li>
            </ul>
            <h4>Servos:</h4>
            <ul>
                <li>fuel_intake: 100</li>
                <li>oxidizer_intake: 100</li>
                <li>fuel_main: 100</li>
                <li>oxidizer_main: 100</li>
            </ul>
            <h4>Relays:</h4>
            <ul>
                <li>oxidizer_heater: CLOSED</li>
                <li>igniter: CLOSED</li>
                <li>parachute: CLOSED</li>
            </ul>
            <h4>Velocity: 0.00 m/s</h4>
            <pre>============================================================</pre>

        </div>
    </main>
    <div class="pop-up landed">Rocket landed</div>
    <div class="pop-up exploded">Rocket exploded</div>
</body>

</html>